<div class="form-container">
  <div class="description">
    <h1>We Can Help</h1>
    <p>We make ourselves available to your team for advice, code reviews and remote pair programming. Our support services are offered on subscription basis with a predefined number of hours per month.</p>

    <h1>Free Pairing Sessions</h1>
    <p>Want to experience mentoring first hand or have your team experience it? Contact us for a free pairing session.</p>
  </div>
  <form accept-charset="UTF-8" action="https://formkeep.com/f/51ba4e3c296c" method="POST">
    <h1>Contact Us!</h1>
    <p>
      <input type="text" name="full_name" placeholder="Your Name">
    </p>
    <p>
      <input type="text" name="email" placeholder="Email Address">
    </p>
    <p>
      <textarea name="message" id="" rows="8" cols="40" placeholder="Send us a message.."></textarea>
    </p>
    <p>
      <button type="submit">{{fa-icon "envelope"}} Send Email</button>
    </p>
  </form>
</div>
