.header-navigation {
  $base-spacing:  0 !default;
  background-color: $sherpa-white;

  padding: 0 $base-spacing;
  margin: 0;
  width: 100%;
  display: inline-block;
  border-bottom: 3px solid $sherpa-orange;
  margin-bottom: -6px;

  .header-logo {
    margin-top: 0.4em;
    margin-right: 1em;
    margin-bottom: 1em;

    @include media(min-width $large-screen) {
      float: left;
      margin-bottom: 0;
    }
  }

  .header-logo img {
    height: 5em;
    @include media(max-width $large-screen) {
      float: right;
      max-height: 4em;
    }
  } 

  .secondary-links {
    float: left;
    @include media(min-width $large-screen) {
      margin-top: 1.5em;
      float: right;
    }
  }

  ul {
    line-height: 1.5em;
    margin: 0;
    padding: 0;
    
    @include media(min-width $large-screen) {
      float: left;
      line-height: 3em;
      margin-left: 1em;
      margin-bottom: 0;
    }
  }

  ul li {
    list-style: none;
    padding-right: 1em;

    @include media(min-width $large-screen) {
      display: inline;
      text-align: left;
    }
  }

  ul li a {
    text-decoration: none;

    @include media(max-width $large-screen) {
      padding-left: 0.5em;
      border-left: 3px solid #FFF;
    }

    &:visited {
      color: $sherpa-orange;
    }

    &:focus, &:hover, &.active {
      color: $sherpa-green;

      @include media(max-width $large-screen) {
        border-left: 3px solid $sherpa-green;
      }
    }
  }
}
