$parallax-window-height: 30em;
$parallax-background-height: $parallax-window-height * 2;

.parallax-window {
  @include section-margin;
  max-height: $parallax-window-height;
  overflow:   hidden;
  position:   relative;
  text-align: center;
  width:      100%;
}

.parallax-static-content {
  color:    $sherpa-white;
  padding:  6em 2em;
  position: relative;
  z-index:  9;
}

.parallax-background {
  background-repeat:   no-repeat;
  background-position: center center;
  background-size:     cover;
  height:              $parallax-background-height;

  position: absolute;
  top:      - $parallax-window-height / 3;
  right:    0;
  width:    100%;

  &.green-field {
    background: url("/assets/images/green-field.jpg");
    opacity: .95;
  }
}
