.testimonial-section {
  @include section-margin;

  $base-line-height: 1.5em !default;
  $action-color: #477DCA !default;
  $dark-gray: #333 !default;
  $base-font-color: $dark-gray !default;
  $icon-testimonial-size: 4em;

  display: flex;
  flex-wrap: wrap;
  margin-top: $base-line-height;

  overflow: auto;
  padding: 0 5em;

  .testimonial-item {
    flex-basis: 20em;
    flex-grow: 1;
  }

  .testimonial-icon {
    background-color: $sherpa-light-gray;
    border-radius: 50%;
    height: $icon-testimonial-size;
    width: $icon-testimonial-size;
    overflow: hidden;
    line-height: $icon-testimonial-size;
    text-align: center;
    font-size: 1.2em;

    @include media(min-width $medium-screen) {
      float: left;
    }

    @include media(max-width $medium-screen) {
      clear: both;
      margin: 0 auto;
    }
  }

  .testimonial-content {
    @include media(min-width $medium-screen) {
      margin-left: $icon-testimonial-size * 1.4;
    }
    margin-bottom: 2em;
  }

  h2 {
    border-bottom: 1px solid $sherpa-light-gray;
    display: inline-block;
    font-size: $icon-testimonial-size / 2.5;
    margin: 0 0 ($icon-testimonial-size / 6) 0;
    padding-top: $icon-testimonial-size / 7;
  }

  li {
    list-style: none;
  }

  p {
    color: $base-font-color;
    line-height: $base-line-height;
  }

  img {
    max-width: 100%;
  }
}
