<header class="main">
  <h1 class="uppercase sherpa-white-text font-size-70">Mentoring Services</h1>
  <p class="font-size-30">
    Help your team become productive with Ember.js.
  </p>
</header>

<div class="mentoring-section">
  <div class="image-container">
    <img src="/assets/images/developer.jpg" alt="some random image">
  </div>
  <div class="content-container">
    <p>
    EmberSherpa is a team of experienced Ember developers focused on helping companies successfully adopt Ember.js. We teach Ember, mentor developers, and maintain various Ember addons.
    </p>
    <p>
      Mentorship is offered via remote pairing and is available on a subscription basis. We provide code reviews, help your team continue to grow with the ever-changing Ember.js ecosystem and ensure that Ember.js best practices are being used.
    </p>
  </div>
</div>

<div class="mentoring-section sherpa-light-gray">
  <div class="content-container">
    <p>
      The EmberSherpa mentoring service is a structured way to train individual developers to become technical leaders within the organization. In the beginning of this process, we introduce your developer to an experienced mentor who’ll guide your developer in building skills necessary to effectively lead a technical team.
    </p>
    <p>
      Our mentoring services are designed to help both junior and senior level developers. We assign specific mentors based on the current need of your team. With our mentoring service, you get access to the entire EmberSherpa team.
    </p>
  </div>
  <div class="image-container">
    <img src="/assets/images/developer-2.jpg" alt="some random image">
  </div>
</div>

{{bottom-bar}}
