{{#link-to "index" classNames="header-logo"}}<img src="/assets/images/embersherpa-logo-wordmark.svg" alt="Ember Sherpa Logo">{{/link-to}}
<div class="secondary-links">
  <ul>
    <li>{{link-to "Mentoring" "mentoring"}}</li>
    <li>{{link-to "Training" "training"}}</li>
    {{!--
      <li><a href="javascript:void(0)" class="sherpa-orange-text">Global Ember Meetup</a></li>
      <li><a href="javascript:void(0)" class="sherpa-orange-text">Free Pairing</a></li>
      <li><a href="javascript:void(0)" class="sherpa-orange-text">FAQ</a></li>
    --}}
    <li>{{link-to "Contact" "contact"}}</li>
  </ul>
</div>
