<header class="main">
  <h1 class="uppercase sherpa-white-text font-size-70">Training Services</h1>
  <p class="font-size-30">
    Jumpstart success with our training. Refresh your team's Ember.js knowledge.
  </p>
</header>

<div class="mentoring-section">
  <div class="image-container">
    <img src="/assets/images/teaching.jpg" alt="some random image">
  </div>
  <div class="content-container">
    <p>
    Our training workshops cover every aspect of building an Ember application including how to use EmberCLI, proper testing methods, authentication, validation, application architecture, and component design.
    </p>
    <p>
      Post training support and mentorship is o ered via remote pairing and is available on subscription basis following our training workshops.
    </p>
  </div>
</div>

<div class="mentoring-section sherpa-light-gray">
  <div class="content-container">
    <p>
      EmberSherpa training is designed to teach participants how to write a complete Ember application using Test Driven Development. Our training consists of a series of workshops that incrementally build student’s understanding of each aspect of an Ember application.
    </p>
    <p>
      In test driven fashion, we start with writing tests to be describe how an aspect of the application behaves, followed by a simple implementation with Ember APIs and we finish by refactoring the same code to use the best special purpose community addon.
    </p>
  </div>
  <div class="image-container">
    <img src="/assets/images/developer-3.jpg" alt="some random image">
  </div>
</div>

{{bottom-bar}}
